<!DOCTYPE html>
<!-- Namespace for Thymeleaf tags! Beyond nearly standard html -->
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head th:replace="/fragments/general.html :: head"/>
  <body>
    <header th:replace="/fragments/general.html :: header"></header>
    <nav th:replace="/fragments/general.html :: nav"></nav>
    
    <main class="container">
      <br/>
      <h1 th:text="${do.pid}" class="mb-3"></h1>
      <div class="bg-light p-2">
      
      <p><b>Pid:</b> <span th:text="${do.pid}"></span></p>
      <p><b>Linked resource path: </b><span th:text="${do.resource.path}"></span></p>
    </div>
      <br/>
      <h2 class="h4">Datastreams</h2>
      <p>Displays all rdf children of digital object (via ldp:contains property)</p>
      <p></p>
      <ul class="list-group-flush">
        <li th:each="dstreamUri : ${do.resource.children}" class="d-flex justify-content-between align-items-center list-group-item bg-light">
          <a style="color:black" target="_blank" th:text="${#strings.substringAfter(dstreamUri,'/datastream/')}" th:href="${dstreamUri} + '/fcr:metadata'"></a>
          <form
            onsubmit="return confirm('Are you sure you want to delete this datastream?');"
            action="#"
            th:action="@{/client/deleteDatastream}"
            th:object="${do}"
            method="delete"
            th:method="DELETE"
          >
            <input type="hidden" name="pid" th:field="*{pid}"/>
            <input type="hidden" name="dsid" th:value="${#strings.substringAfter(dstreamUri,'/datastream/')}"/>
            <input type="submit" class="btn btn-dark" value="Delete"/>
          </form>
        </li>
      </ul>
      <br/>
      <form
        action="#"
        th:action="@{/client/createDatastream}"
        th:object="${do}"
        method="post"
        enctype="multipart/form-data"
        class="w-25"
      >
        <div class="form-group">
          <input class="form-control" id="pid" type="hidden" th:field="*{pid}"/>
          <p><b>New datastream</b> (via datastream-id) <input class="form-control" type="text" id="dsid" name="dsid"/></p>
          <input class="form-control" type="file" id="file" name="file" value="Upload file"/>
      </div>
        <!-- <label for="fname">First name:</label> -->
        <!-- <input type="text" id="lname" name="lname"><br><br> -->
        <br/>
        <p>
          <input class="btn btn-light" type="submit" value="Submit"/>
          <input class="btn btn-light" type="reset" value="Reset" />
        </p>
      </form>
      <br/>
      <p><b>Resource RDF metadata: </b><pre class="bg-light p-3"><span th:text="${do.resource.rdfXml}"></span></pre></p>
    </main>

    <footer th:replace="/fragments/general.html :: footer"></footer>
  </body>
</html>
