<!DOCTYPE html>
<!-- Namespace for Thymeleaf tags! Beyond nearly standard html -->
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head th:replace="/fragments/general.html :: head"/>
  <body>
    <header th:replace="/fragments/general.html :: header"></header>
    <nav th:replace="/fragments/general.html :: nav"></nav>
    
    <main class="container">
      <br/>
      <h1 th:text="${do.pid}"></h1>
      <p><b>Pid:</b> <span th:text="${do.pid}"></span></p>
      <p><b>Linked resource path: </b><span th:text="${do.resource.path}"></span></p>
      <p><b>Resource RDF metadata: </b><pre class="bg-light p-3"><span th:text="${do.resource.rdfXml}"></span></pre></p>
      <br/>
      <h2 class="h3">Data update</h2>
      <p><b>Available datastreams</b></p>
      <ul th:each="dstreamUri : ${do.resource.children}" class="list-group mb-1">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a target="_blank" th:text="${dstreamUri}" th:href="${dstreamUri} + '/fcr:metadata'"></a>
          <form
            onsubmit="return confirm('Are you sure you want to delete the datastream?');"
            action="#"
            th:action="@{/client/deleteDatastream}"
            th:object="${do}"
            method="delete"
            th:method="DELETE"
          >
            <input type="hidden" name="pid" th:field="*{pid}"/>
            <input type="hidden" name="dsid" th:value="${#strings.substringAfter(dstreamUri,'/datastream/')}"/>
            <input type="submit" class="btn btn-warning" value="Delete"/>
          </form>
        </li>
      </ul>
      <br/>
      <p><b>Add a datastream</b></p>
      <form
        action="#"
        th:action="@{/client/createDatastream}"
        th:object="${do}"
        method="post"
        enctype="multipart/form-data"
      >
        <input id="pid" type="hidden" th:field="*{pid}"/>
        <p>Datastream id: <input type="text" id="dsid" name="dsid"/></p>
        <p>Upload file <input type="file" id="file" name="file"/></p>
        <!-- <label for="fname">First name:</label> -->
        <!-- <input type="text" id="lname" name="lname"><br><br> -->
        
        <p>
          <input type="submit" value="Submit"/>
          <input type="reset" value="Reset" />
        </p>
      </form>
    </main>

    <footer th:replace="/fragments/general.html :: footer"></footer>
  </body>
</html>
